body{
    background-color: rgba(238, 255, 255, 0.966);
    margin: 0%;
    padding:0%;
}
.rsm{
    text-align:center;
    font-size: 5ch;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000;
    font-weight: 300;
    margin-top: 3pc;
}  
.rsm:hover{
    color: rgb(4, 160, 250);
}
.rsmimg{
    margin-top: 2pc;
    margin-left: 2pc;
}
.container{
    display: flex;
    flex-direction:column;
    gap: 3px 3px;
   }
.btn a{
    background-color:transparent;
    text-decoration: none;
    color: black;
}
.btn:hover{
    background-color: rgb(11, 250, 238);
}
.btn{
    background-color: transparent;
    padding: .5rem 1rem;
    margin-left:36pc;
    margin-top: 3pc;
    margin-bottom: 1pc;
    border-radius: .4rem;
    font-size:3.5ch;
    font-weight:300;
    border-color: rgb(161, 238, 235);
}
.brd{    
        margin-top: 3pc;
        margin-left: 9.5pc;
        height: 1070px;
        width: 1040px;
        background-color:transparent;
        /* border-style:outset; */
        /* border-color: rgba(13, 192, 192, 0.082); */
        border-radius: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  }

